*:focus {outline: none;}

body {
	margin: 15px;
	padding: 5px;
	margin-left: 150px;
	margin-right: 150px;
}

fieldset {
	padding: 10px;
}

section.info {
	display: inline-block;
}

label {
	display: block;
	padding: 5px;
}

h4 {
	margin: auto;
	text-align: center;
}

section.optionList {
	display: inline-block;
	/*padding: 5px;*/
}

section.alignmentFix {
	display: block;
	height: 30px;
}

section.button {
	text-align: center;
	margin: auto;
	margin-top: 5px;
}


label input:focus:invalid {
    background: #fff;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

label input:required:valid { 
    background: #fff;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}


