body {
	margin: 15px;
	padding: 5px;
	margin-left: 150px;
	margin-right: 150px;
}

fieldset {
	padding: 10px;
}

section.info {
	display: inline-block;
}

label {
	display: block;
	padding: 5px;
}

h4 {
	margin: auto;
	text-align: center;
}

section.optionList {
	display: inline-block;
	/*padding: 5px;*/
}

section.alignmentFix {
	display: block;
	height: 30px;
}


